.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}
<<<<<<< HEAD
*{margin:0;padding:0;}
body{
	background-image: url(img/bg.png);
=======
<<<<<<< HEAD
*{margin:0;padding:0;}
body{
	background: url(img/bg.png);
>>>>>>> 28002f9a22d81fe40883d1125a9c77b63e1ce19b
	background-size: cover;
}
.XQbuilding{
	width:90%;
	margin: 0 auto;
}
.XQinfo{
	width:251px;
	height:208px;
	background: #f2e7e5;
	padding: 10px;
	float: left;
}
.XQhead{
<<<<<<< HEAD
	width:226px;
	height:37px;
	border:1px solid #e0dcdb;
	list-style: none;
	background: #fff;
}
.XQhead li{
	padding:0 29px 0 9px;
	text-align: center;
	float: left;
	line-height: 37px;
	border-right: 1px solid #e0dcdb;
	font-weight: bold;
}


=======
	background: #fff;
}
.XQinfo table tr td{
	padding-left:10px;
	font-weight: bold;
}

>>>>>>> 28002f9a22d81fe40883d1125a9c77b63e1ce19b
.XQedit{
	width: 500px;
	height:208px;
	background: #f2e7e5;
	float: left;
	margin-left: 5px;
	padding: 10px;
}
.form-group{

}
.btn-default{
	margin-top:4px;
	margin-left: 5px; 
}

.XQlist{
	width:400px; 
	height:125px;
	float: left;
	margin-left: 5px;
	background: #f2e7e5;
	padding: 10px;
}
<<<<<<< HEAD
.XQlist ul{
	width:380px;
	height:37px;
	border:1px solid #e0dcdb;
	list-style: none;
}
.XQlist ul li{
	padding:0 157px 0 9px;
	text-align: center;
	float: left;
	line-height: 37px;
	border-right: 1px solid #e0dcdb;
	background: #fff;
}
=======
.XQlist table tr td{
	padding-left: 10px;
	font-weight: bold;
}
=======
body{
	display: block;
	width: 100%;
	height: 100vh;
	background: url(../assets/images/bg.png) no-repeat;
	background-size: cover;
}
.login{
	width: 100%;
	height: 52px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
}
.content{
	width: 1200px;
	height: 52px;
	margin: 0 auto;
	background: transparent;
	position: relative;
}
.content a{
	display: inline-block;
	height: 40px;
	position: absolute;
	left: 0;
	top: 50%;
	transform:translate(0,-50%);
}
.content a img{
	height: 100%;
}
.content .user{
	float: right;
	width: 100px;
	text-align: right;
	padding-right: 10px;
	height: 52px;
	line-height: 52px;
	color: #677EA2;
	font-weight: bold;
	position: relative;
}
.content .user .minute{
	display: block;
	position: absolute;
	top: 52px;
	right: 0;
	width: 80px;
	height: 30px;
	background: #f90;
	line-height: 30px;
	text-align: center;
}




















>>>>>>> 16f85b68002630567598efc741bfc83ff5f725c7
>>>>>>> 28002f9a22d81fe40883d1125a9c77b63e1ce19b
