.m_big{
	width:882px;
	height:auto;
	text-align: left;
}
.fx {
	display:inline-block;
	width: 376px;
	min-height: 208px;
	box-sizing: border-box;
	padding: 10px;
	background: #f7e8e3;
	opacity: 0.3;
}
.m_box{
	display:inline-block;
	width:501px;
	height:378px;
	background:#f7e8e3;
	padding:16px 11px;
	opacity: 0.3;
	float:right;
}
.m_box .form-group{
	margin-bottom:8px;
}
.m_box label{
	margin-bottom: 0px;
}

.m_box .btn{
	margin-top: 5px;
}
