<div class="m_big" ng-controller='Equipments'>
  <div class="fx">
      <table class="table">
        <tr style="background: #fff;color: #552e03;">
        <th>id</th>
        <th>name</th>
        <th>type</th>
        <th>factory</th>
        <th>phone</th>
        <th>price</th>
      </tr>
      <tr style="background: #f5f5f5;color: #303c56;" ng-repeat="x in pageData" ng-click="show($index)">
        <td>{{x.id}}</td>
        <td>{{x.name}}</td>
        <td>{{x.type}}</td>
        <td>{{x.factory}}</td>
        <td>{{x.phone}}</td>
        <td>{{x.price}}</td>
      </tr>
      </table>
      <ul uib-pagination boundary-links="true"  total-items="f.length" ng-change="pageChange()" items-per-page="5" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
  </div>
  <div class="m_box">
      <div class="form-group">
        <label>name</label>
        <input type="text" class="form-control" ng-model="equipments.name" value="{{equipments.name}}">
      </div>
      <div class="form-group">
        <label>type</label>
        <input type="text"  class="form-control" ng-model="equipments.type" value="{{equipments.type}}">
      </div>
      <div class="form-group">
        <label>factory</label>
        <input type="text"  class="form-control" ng-model="equipments.factory" value="{{equipments.factory}}">
      </div>
      <div class="form-group">
        <label>phone</label>
        <input type="text"  class="form-control" ng-model="equipments.phone" value="{{equipments.phone}}">
      </div>
      <div class="form-group">
        <label>price</label>
        <input type="text"  class="form-control" ng-model="equipments.price" value="{{equipments.price}}">
      </div>
      <button uib-popover="{{dynamicPopover.content}}" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default" ng-click="edit()">Edit({{equipments.id}}:{{equipments.name}})</button>

      <button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default" ng-click="delete()">Delete({{equipments.id}}:{{equipments.name}})</button>
      <button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default" ng-click="create()">Create</button>
  </div>
</div>