<div class="box" ng-controller="login">
	<div class="tit">
		<span class="logo"></span>
		<div class="user" uib-dropdown dropdown-append-to-body>
	      <div id="btn-append-to-body" uib-dropdown-toggle>
	      	<a id="loginin">未登录</a>
	        <em class="caret"></em>
	      </div>
	      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
	        <li role="menuitem"><a href="#">Assets</a></li>
	        <li role="menuitem"><a href="#">Buildings</a></li>
	        <li role="menuitem"><a href="#">Rooms</a></li>
	        <li role="menuitem"><a href="#">Equipements</a></li>
	        <li class="divider"></li>
	        <li role="menuitem" ng-click='login()'><a href="#">Login</a></li>
	        <li role="menuitem" ng-click='out()'><a href="#">Login Out</a></li>
	      </ul>
	    </div>
	</div>
	<ui-view></ui-view>

</div>