<div class="Prompt"></div>
<div class="fx">
    <table class="table">
      <tr style="background: #fff;color: #552e03;">
        <th>id</th>
        <th>name</th>
        <th>type</th>
        <th>factory</th>
        <th>phone</th>
        <th>price</th>
      </tr>
      <tr style="background: #f5f5f5;color: #303c56;">
        <td>1</td>
        <td>table</td>
        <td>T01</td>
        <td>不知道</td>
        <td>666</td>
        <td>666</td>
      </tr>
    </table>
    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"></ul>
</div>

<div class="jxbig">
	<div class="form-group">
      <label>Code</label>
      <input type="text" ng-model="dynamicPopover.content" class="form-control">
    </div>
    <div class="form-group">
      <label>Building</label>
      <input type="text" ng-model="dynamicPopover.title" class="form-control">
    </div>

    <button uib-popover="{{dynamicPopover.content}}" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Edit</button>
    <button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Delete</button>
    <button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Create</button>	
</div>